{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Éditer - {{ trip.meetingPoint }}{% endblock %}

{% block body %}
    <h1>Éditer {{ trip.meetingPoint }}</h1>

    {{ include('trip/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('trip/_delete_form.html.twig') }}
{% endblock %}
