<nav class="navbar sticky-top navbar-expand-lg shadow">
  <div class="container-fluid justify-content-between gap-md-4">
    <a class="navbar-brand d-flex align-items-center" href="{{ path('app_home')}}"><i class="fa-solid fa-arrow-right-to-city fa-2x px-2"></i> RamèneTonCollègue </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-list-ul fa-2x text-primary"></i>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-center gap-md-4">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_trip_index') }}">Trouver un trajet</a>
        </li>
        
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mes trajets
          </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_user_driver') }}">Je conduis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_my_trips') }}">On m'amène</a>
        </li>
        </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>

        {% else %}
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
        </li>
        {% endif %}
       
      </ul>
      </div>
    </div>
</nav>